* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background: rgba(0, 0, 0, 0.8);
  word-spacing: 0.1em;
}

h2 {
  font-size: 2em;
  margin-bottom: 10%;
}

main {
  padding-left: 20%;
  padding-right: 20%;
  color: aliceblue;
}

.menu-options {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-inline-start: 0;
  list-style: none;
}

.menu-div {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  height: 90%;
}

.menu-opt {
  display: inline-block;
  text-align: center;
  margin-right: 5%;
}

ul a {
  display: inline-block;
  width: fit-content;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 800;
}

.perfil-picture {
  margin-left: 15%;
  max-height: 80%;
  border-radius: 50%;
  margin-top: 0.5%;
}

.menu {
  height: 100px;
  display: inline-block;
  width: 100%;
  background-color: #303030;
  vertical-align: middle;
  position: fixed;
}

.header-site {
  height: 100vh;
  width: 100%;
}

.name {
  padding-top: 20%;
  font-size: 3em;
  margin-left: 4%;
  margin-bottom: 2%;
  color: aliceblue;
}

.dot-header {
  color: green;
}

.header-site {
  background-image: url(../includes/images/Eu.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
  height: 100vh;
}

.container-header {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.name-role {
  color: aliceblue;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-left: 2.2%;
  line-height: 1.2;
}

.body-content {
  margin: 10%;
}

li {
  list-style-type: none;
}

/* .fundo {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  justify-content: center;
  min-width: 100%;
  max-width: 100%;
  margin: 0px;
}

.nome {
  margin-top: 20%;
  margin-left: 20%;
  justify-content: left;
  font: 160% sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: bolder;
  letter-spacing: 0.5ex;
}

.subTitulo {
  letter-spacing: 0.2ex;
  display: flex;
  margin-top: 4%;
  justify-content: center;
  align-content: center;
  font: 160% sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.texto {
  display: flex;
  margin-top: 5%;
  width: 75%;
  height: 60%;
  margin-left: 12.5%;
  text-align: center;
  background-color: rgba(34, 36, 36, 0.85);
  justify-content: center;
  align-items: center;
  font: 100% sans-serif;
}

.tabela {
  display: flex;
  margin-top: 4%;
  width: 75%;
  height: 60%;
  margin-left: 12.5%;
  text-align: center;
  background-color: rgba(34, 36, 36, 0.85);
  justify-content: center;
  align-items: center;
  font: 160% sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 2.5;
}

#nomeDenominacao {
  margin-top: 5%;
  font-size: 20px;
  font-weight: normal;
  font-style: initial;
}

#fotoPessoal {
  background-image: url(../includes/images/fotoPerfil-AD.jpg);
}

#fotoApresentacao {
  background-image: url(../includes/images/fundoApresentacao.jfif);
}

#fotoHobbies {
  background-image: url(../includes/images/funtoEsportes.jpg);
}

#listaHobbies {
  font: 100% sans-serif;
  text-transform: uppercase;
  margin-left: 3%;
  line-height: 1.5;
  text-align: left;
}

#fotoTabela {
  background-image: url(../includes/images/fotoTabelas.jpg);
}

#fotoLinks {
  background-image: url(../includes/images/fotoLinks.jpg);
}

#textoLinks {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
}

p {
  padding: 5%;
  font: arial;
  text-transform: uppercase;
  line-height: 2.5;
}

a:link {
  color: green;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: pink;
  text-decoration: none;
}

a:active {
  color: yellow;
  text-decoration: none;
} */
