.fundo {
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    overflow: hidden;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
    
}

.nome {
    margin-top: 20%;
    margin-left: 20%;
    justify-content: left;
    font: 160% sans-serif;
    font-size: 40px;
    line-height: 1.2;
    font-weight: bolder;
    letter-spacing: 0.5ex;

}

.subTitulo {
    letter-spacing: 0.2ex;
    display: flex;
    margin-top: 4%;
    justify-content: center;
    align-content: center;
    font: 160% sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.texto {
    display: flex;
    margin-top: 5%;
    width: 75%;
    height: 60%;
    margin-left: 12.5%;
    text-align: center;
    background-color: rgba(34, 36, 36, 0.850);
    justify-content: center;
    align-items: center;
    font: 100% sans-serif;
}

.tabela {
    display: flex;
    margin-top: 4%;
    width: 75%;
    height: 60%;
    margin-left: 12.5%;
    text-align: center;
    background-color: rgba(34, 36, 36, 0.850);
    justify-content: center;
    align-items: center;
    font: 160% sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 2.5;

}

#nomeDenominacao {
    margin-top: 5%;
    font-size: 20px;
    font-weight: normal;
    font-style: initial;
}

#fotoPessoal {
    background-image: url(Imagens/fotoPerfil-AD.jpg);   
}

#fotoApresentacao {
    background-image: url(Imagens/fundoApresentacao.jfif);

}

#fotoHobbies {
    background-image: url(Imagens/funtoEsportes.jpg);
}

#listaHobbies {
    font: 100% sans-serif;
    text-transform: uppercase;
    margin-left: 3%;
    line-height: 1.5;
    text-align: left;
}

#fotoTabela {
    background-image: url(Imagens/fotoTabelas.jpg);
}

#fotoLinks {
    background-image: url(Imagens/fotoLinks.jpg);
}

#textoLinks {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}

p {
    padding: 5%;
    font: arial;
    text-transform: uppercase;
    line-height: 2.5;
}

a:link {
    color: green;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: none;
}

a:active {
    color: yellow;
    text-decoration: none;
}